@tailwind base;
@tailwind components;
@tailwind utilities;
html {
  scroll-behavior: smooth;
}

@font-face {
  font-family: "helvetica neue";
  src: url("/public/fonts/helvetica-neue-5/HelveticaNeueBlack.otf")
    format("oft");
  font-weight: normal;
  font-style: normal;
}

body {
  font-family: "helvetica neue", sans-serif;
}

.underline-hover {
  position: relative;
}

.underline-hover::after {
  content: "";
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: black;
  transform-origin: bottom right;
  transition: transform 0.25s ease-out;
}

.underline-hover:hover::after {
  transform: scaleX(1);
  transform-origin: bottom left;
}

.underline_active {
  position: relative;
}
.underline_active::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: black;
}
